<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exigotech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="icon" href="~/Content/lib/Images/Exigotech-Logo-icon1.png">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<style>
    .social-icon{
        color : #aaaaaa;
        transition : color 0.2s;
        text-decoration : none;
        margin : 0 4px;
    }

    .social-icon:hover{
        color : #333333;
    }
</style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container">
                 <div class="sidebar-brand-icon rotate-n-15" style="margin-right :  10px;">
                     <img src="~/lib/Images/Exigotech-Logo-icon1.png" />
                 </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Dash">Exigotech</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                          <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Menu
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" asp-action="Onboarding">Onboarding</a>
                                      <a class="dropdown-item" asp-action="EmployeeList">Employee List</a>
                                    </div>
                                </li>
                          </ul>
                          <partial name = "_LoginPartial.cshtml" />
                    </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/moment.latest.min.js"></script>
    <script src="~/js/pignose.calendar.min.js"></script>
    <script src="~/js/pignose.init.js"></script>
        <!-- Page level custom scripts -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="~/js/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>