@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

@*<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">*@
          </hr>
          <form id="profile-form" method="post" class="row col-10">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="col-md-6">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                 <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @*<button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>*@
@*        </form>
      </div>
    </div>
  </div>*@
@*
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="col-md-6">
                <label asp-for="Input.Nationality"></label>
                <input asp-for="Input.Nationality" class="form-control" />
                <span asp-validation-for="Input.Nationality" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Input.HomeAddress"></label>
                <input asp-for="Input.HomeAddress" class="form-control" />
                <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Input.Birthday"></label>
                <input asp-for="Input.Birthday" class="form-control" />
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>

             <div class="col-md-6">
                <label asp-for="Input.BloodGroup"></label>
                <input asp-for="Input.BloodGroup" class="form-control" />
                <span asp-validation-for="Input.BloodGroup" class="text-danger"></span>
            </div>

                <div class="col-12" style="padding-top:14px;"> <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button></div>
        </form>
@*      </div>
    </div>
  </div>
</div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}