@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">WELCOME TO</h1>
    <h1 class="display-4">EXIGOTECH Tsp PVT LTD. </h1>
<img src="~/lib/Images/exigot.png"/>
    </div>

